<%- include('./partials/nav') %> 

    <h1><%= currFruit.name %></h1>
    <h3><%= currFruit.category %></h3>


  <% if (currFruit.isReadyToEat) { %>
    <p>This fruit is ready to eat!</p>
  <% } else { %>
    <p>This fruit is not ready to eat!</p>
  <% } %>


  <form action="/fruits/<%=currFruit._id%>?_method=DELETE" method="POST">
  <button type="submit">Delete <%= currFruit.name %></button>
</form>

         <a class="edit-link" href="/fruits/<%= currFruit._id %>/edit">
     <div class="edit-text">Edit <%= currFruit.name %></div>
   </a>

   
      <a class="fruits-index-link" href="/fruits">
      <div class="index-link-text">Back to Fruits</div>
      </a>

  </body>
</html>
